In [1]:
import pandas as pd
from faker import Faker
import random
import streamlit as st

In [2]:
faker = Faker()
n = 200

In [3]:
Customers = []

for _ in range(n):
  Customers.append({
      'customer_id': faker.uuid4(),
      'name': faker.name(),
      'email': faker.email(),
      'phone_number': faker.phone_number(),
      'location': faker.city(),
      'signup_date': faker.date_this_decade(),
      'is_premium': faker.boolean(),
      'preferred_cuisine': random.choice(['Indian', 'Chinese', 'Mexican', 'Italian', 'Arabian']),
      'total_orders': random.randint(1, 10),
      'average_rating': round(float(random.randint(1, 5)),2)
  })

df1 = pd.DataFrame(Customers)
df1

,customer_id,name,email,phone_number,location,signup_date,is_premium,preferred_cuisine,total_orders,average_rating
0,8ad357cd-7c00-4121-89ce-aa16b3adc42d,Mrs. Michelle Anderson DDS,rfaulkner@example.org,808-945-1846x06057,South Donnashire,2021-06-23,False,Indian,7,2.0
1,06452f85-1622-4df2-880a-84ae3f916370,Jenny Collins,deankyle@example.net,776-561-9846,Melindaside,2024-07-04,True,Mexican,8,4.0
2,46588efb-dd3e-482e-a073-3d712fd8d582,William Johnson,powersjohn@example.net,+1-320-430-9563x342,Karabury,2021-10-11,False,Indian,1,1.0
3,11f78356-7e45-417e-8bc9-24d27c511d66,Terry Henderson,lamberttravis@example.net,396-845-9276,North Crystal,2020-09-01,True,Mexican,8,5.0
4,e68ed766-8969-4454-92c5-fbdf342cf01f,Alicia Barnes,ltapia@example.org,+1-697-815-6734x9284,North Danielleside,2020-06-27,False,Mexican,7,2.0
...,...,...,...,...,...,...,...,...,...,...
195,25636a01-0943-400a-8e7c-fe3fc3e1f5e7,Linda Fields,ubrown@example.com,522.975.4758,South Kimberlyshire,2022-12-06,True,Indian,1,1.0
196,a2f71cda-3652-4a2a-a593-2aee2513d0d3,Lynn Thomas,deckersteven@example.net,287-274-4567,South Juliaside,2024-03-24,True,Chinese,5,5.0
197,126a73a7-1d4a-4648-827f-c7a123e0d68c,Bradley Mendoza,qwilson@example.com,(628)388-1109x8592,Lake Brandy,2020-01-04,False,Chinese,4,3.0
198,40fee5bb-3d11-4ab5-b060-590eed5fbf0d,Andrew Wells,randynguyen@example.com,(907)292-4339x62079,Kendraburgh,2024-09-12,True,Chinese,2,5.0
199,e5ed3889-3443-495d-9356-59d95186db6f,Jill Martin,powellryan@example.net,(235)513-2936x41381,South John,2022-03-13,False,Italian,5,4.0

In [4]:
Restaurants = []

for _ in range(n):
  Restaurants.append({
      'restaurant_id': faker.uuid4(),
      'name': faker.company(),
      'cuisine_type': random.choice(['Indian', 'Chinese', 'Mexican', 'Italian', 'Arabian']),
      'location': faker.city(),
      'owner_name': faker.name(),
      'average_delivery_time': random.randint(10, 60),
      'contact_number': faker.phone_number(),
      'rating': round(float(random.randint(1, 5)),2),
      'total_orders': random.randint(1,50),
      'is_active': faker.boolean()
  })

df2 = pd.DataFrame(Restaurants)
df2

,restaurant_id,name,cuisine_type,location,owner_name,average_delivery_time,contact_number,rating,total_orders,is_active
0,32f927bc-356a-47cb-8227-ab97ead89fa9,"Mosley, Prince and Monroe",Italian,Sarahmouth,Daniel Manning,24,+1-272-825-0904x193,5.0,27,True
1,2d845c88-3863-4fdc-a6d2-0e22a7368747,"Wiggins, Harris and Hawkins",Chinese,Hayesstad,Mary Matthews,25,(576)742-0143x471,5.0,28,True
2,8f867747-922c-451a-aa74-c5848f310fab,Johnson-Mccoy,Indian,East Michaelville,Tara Fischer,36,(298)412-2030,4.0,18,True
3,c4482970-9164-410f-bb87-daf558b20fc0,Rivers-Vargas,Indian,Watkinsborough,Jessica Gray,38,(346)981-2119,3.0,8,True
4,846e4e01-77e0-4ddd-93a2-4b13b2b0a7e2,Farrell and Sons,Indian,New Stephenport,Julie Logan,20,(418)604-4750,5.0,25,False
...,...,...,...,...,...,...,...,...,...,...
195,e386f647-28ff-41ab-b0ea-5a673626bc93,Terrell-Scott,Mexican,East Kyle,Brittany Cruz,59,001-355-239-2981,1.0,27,False
196,c0d3f29f-3d42-4cdc-85e3-97dd80eafb62,Foster and Sons,Arabian,Ortizton,Stacy Davis,16,+1-745-377-4917x4133,4.0,18,True
197,875defb9-e5d5-42f0-b123-49534f424298,Wright-Rodriguez,Mexican,Sotomouth,Cheryl Gibson,15,(693)824-8377,1.0,10,False
198,be3e37e3-e83e-49ac-8a40-d521a0ea01cb,Mcmahon-Summers,Chinese,Robynville,William White,28,(734)782-6604,2.0,2,True
199,8eda594e-76c9-4adf-a93d-d7130942b66e,Bryant-Parrish,Indian,North Kennethburgh,Robert Peters,46,597.991.1258x4932,3.0,48,False

In [5]:
Orders = []

for _ in range(n):
  Orders.append({
      'order_id': faker.uuid4(),
      'customer_id': random.choice(Customers)['customer_id'],
      'restaurant_id': random.choice(Restaurants)['restaurant_id'],
      'order_date': faker.date_time_this_month(),
      'delivery_time': faker.date_time_this_month(),
      'status': random.choice(['Pending','Delivered','Cancelled']),
      'total_amount': random.randint(100, 1000),
      'payment_mode': random.choice(['Credit Card','Cash','UPI']),
      'discount_applied': random.choice([10,20,30,40,50,60,70,80]),
      'feedback_rating': round(float(random.randint(1, 5)),2)
  })

df3 = pd.DataFrame(Orders)
df3

,order_id,customer_id,restaurant_id,order_date,delivery_time,status,total_amount,payment_mode,discount_applied,feedback_rating
0,37d9404f-4e5a-4ab3-bcda-fb6c75a15049,e25c05c0-f195-4b34-bcee-79b7da3ac52a,ab078fb0-4ce6-41b4-91a4-3d69ff2b5044,2025-04-22 13:05:42,2025-04-15 00:42:27,Cancelled,312,Cash,70,2.0
1,dd360d0e-8e08-4ae1-bc21-267da1a8e7cc,ba560279-15a2-4c0b-8c21-c79df199ae85,d1c99cd8-da85-4e46-9a50-8a0d28071d64,2025-04-03 23:34:27,2025-04-01 01:54:13,Delivered,380,UPI,50,5.0
2,fbc327a8-051d-4d05-acc3-40f2d53f73a9,7ba1b522-5868-454d-86a8-8108e41d2ce0,fefa3b7c-49f3-43b7-af1b-c41c30fa62cf,2025-04-04 05:26:04,2025-04-20 21:24:56,Delivered,377,UPI,40,2.0
3,79b5f2db-d403-4ab5-8249-cf82cb8075e6,d32f7fba-a208-49f3-9f48-3915c14c858f,39524309-074d-4793-823b-8a251029b874,2025-04-04 02:17:56,2025-04-11 10:35:56,Cancelled,869,Credit Card,70,4.0
4,e812a72b-999d-48bd-9d70-d554da97bcfd,126a73a7-1d4a-4648-827f-c7a123e0d68c,320df057-37e6-43f3-a077-2ac92741deb1,2025-04-11 02:36:00,2025-04-09 13:02:28,Cancelled,688,Cash,60,2.0
...,...,...,...,...,...,...,...,...,...,...
195,35f3f564-1614-4784-9431-f0f90283385a,c52af73b-d6ff-4857-9ca6-bd1df2fe0514,05053fc2-cd7a-491e-8b62-e07087fae5d1,2025-04-10 08:53:30,2025-04-04 00:31:27,Delivered,213,Cash,60,3.0
196,58a3150f-21d2-4762-b1d2-3ed876e6d2df,98a13275-5946-4764-9f5a-b77b530785b7,cb8040a3-71be-48e7-b900-5eb5e85e9618,2025-04-22 15:17:29,2025-04-13 11:22:34,Pending,333,UPI,80,5.0
197,b7b3027d-dce0-41bd-888d-36be8b00affb,e5ed3889-3443-495d-9356-59d95186db6f,6631df16-df20-45d7-91ed-edcbf3c43bc2,2025-04-05 20:12:40,2025-04-19 03:27:23,Pending,162,Cash,10,1.0
198,38b92652-9a95-419e-892d-b3ce3743585e,ca527c3a-7e56-45ee-9d69-a08f58bee1b9,217dca3f-9f0c-4d69-af14-189d55eddbfc,2025-04-14 08:08:32,2025-04-24 17:38:50,Cancelled,247,Cash,10,2.0
199,b538c529-dd0e-4b55-a917-3e89a9a49215,d8b86c5a-9c8a-4215-befd-173a04b58dc8,f093342d-f18b-4037-aa5e-684d5d6e81ef,2025-04-06 12:54:39,2025-04-07 07:34:00,Cancelled,726,UPI,30,3.0

In [6]:
Deliveries = []

for _ in range(n):
  Deliveries.append({
      'delivery_id': faker.uuid4(),
      'order_id': random.choice(Orders)['order_id'],
      'delivery_status': random.choice(['On the Way', 'Delivered', 'Cancelled']),
      'distance': random.randint(1,20),
      'delivery_time': random.randint(10,60),
      'estimated_time': random.randint(10,60),
      'delivery_fee': random.randint(10,50),
      'vehicle_type': random.choice(['Bike','Scooter'])
  })

df4 = pd.DataFrame(Deliveries)
df4

,delivery_id,order_id,delivery_status,distance,delivery_time,estimated_time,delivery_fee,vehicle_type
0,56dc5015-f9b0-44fb-9650-a32bfaec1be5,decd7103-ad9f-4299-a4b6-27aecb9086ee,Cancelled,20,55,52,42,Scooter
1,342b3ef4-d79e-4391-a001-5aafd4253e25,243e8f4e-2195-4c86-9a9d-9cd6eb829c40,On the Way,18,28,24,10,Scooter
2,e194e38c-70a6-4c30-a265-c8d529b4512a,b7451862-4efb-46b7-8a88-b2f57a6e5912,Delivered,5,10,14,20,Scooter
3,6bb76110-2dce-469b-87f4-855fb5f8584b,b00dbeb0-5673-4ff5-bdf8-ff88af10a0b4,On the Way,4,10,48,22,Scooter
4,03c57f47-9c66-4502-b90a-d94680648840,9d0ce40e-b3ed-410b-970c-fadb37feada8,Delivered,3,47,16,47,Bike
...,...,...,...,...,...,...,...,...
195,c120a83d-dbf3-43af-97cc-57d673f22635,db82e46e-9277-49e7-ac15-547283cbb901,Cancelled,15,50,14,15,Scooter
196,e344c3cc-f728-41d9-9898-4d945f858bee,b7b3027d-dce0-41bd-888d-36be8b00affb,Delivered,3,51,54,43,Bike
197,c7c0ef08-652d-40c4-a413-6d2eec13eec0,da4b964a-548b-4859-a67a-a22742bd96f9,Delivered,19,24,28,40,Scooter
198,e7a8cc4e-8f8b-4280-91cc-62cbda4ce320,75ab5422-59f3-471d-9c1c-3ab214b38b63,On the Way,11,56,37,14,Bike
199,70acdc86-6d8a-4437-b75a-99661ef2032b,fd75c654-397e-46de-a6d0-de90172fd4f9,On the Way,1,13,44,30,Scooter

In [7]:
df1.to_csv('Customers.csv', index=False)
df2.to_csv('Restaurants.csv', index=False)
df3.to_csv('Orders.csv', index=False)
df4.to_csv('Deliveries.csv', index=False)