In [1]:
import mysql.connector as db
import pandas as pd

**customer table creation**

In [2]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

query = """
        CREATE TABLE IF NOT EXISTS Customers (
        customer_id VARCHAR(36) PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        email VARCHAR(255) UNIQUE NOT NULL,
        phone_number VARCHAR(255) NOT NULL,
        location VARCHAR(255),
        signup_date DATE NOT NULL,
        is_premium BOOLEAN DEFAULT FALSE,
        preferred_cuisine VARCHAR(50),
        total_orders INT DEFAULT 0,
        average_rating FLOAT DEFAULT 0.0);
        """
connection.commit()
cursor.execute(query)
connection.close()

**# Restaurant table creation**

In [3]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

query = """
        CREATE TABLE IF NOT EXISTS Restaurants (
        restaurant_id VARCHAR(36) PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        cuisine_type VARCHAR(50),
        location VARCHAR(255),
        owner_name VARCHAR(255),
        average_delivery_time INT DEFAULT 30,
        contact_number VARCHAR(255) NOT NULL,
        rating FLOAT DEFAULT 0.0,
        total_orders INT DEFAULT 0,
        is_active BOOLEAN DEFAULT TRUE);
        """
connection.commit()
cursor.execute(query)
connection.close()

**** Order Table Creation****

In [4]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

query = """
        CREATE TABLE IF NOT EXISTS Orders (
        order_id VARCHAR(36) PRIMARY KEY,
        customer_id VARCHAR(36) NOT NULL,
        restaurant_id VARCHAR(36) NOT NULL,
        order_date DATETIME NOT NULL,
        delivery_time DATETIME,
        status VARCHAR(50) DEFAULT 'Pending',
        total_amount FLOAT NOT NULL,
        payment_mode VARCHAR(50),
        discount_applied FLOAT DEFAULT 0.0,
        feedback_rating FLOAT DEFAULT NULL,
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
        FOREIGN KEY (restaurant_id) REFERENCES Restaurants(restaurant_id));
        """
connection.commit()
cursor.execute(query)
connection.close()

#** Deliveries Table Creation**

In [5]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

query = """ 
        CREATE TABLE IF NOT EXISTS Deliveries (
        delivery_id VARCHAR(36) PRIMARY KEY,
        order_id VARCHAR(36) NOT NULL,
        delivery_status VARCHAR(50) DEFAULT 'On the way',
        distance FLOAT NOT NULL,
        delivery_time INT,
        estimated_time INT,
        delivery_fee FLOAT NOT NULL,
        vehicle_type VARCHAR(50),
        FOREIGN KEY (order_id) REFERENCES Orders(order_id));
        """
connection.commit()
cursor.execute(query)
connection.close()

 **Inserting .csv files to Customers Table**

In [7]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

customers = pd.read_csv('Customers.csv')
insert_query = """
               INSERT INTO Customers (customer_id, name, email, phone_number, location, signup_date, is_premium, preferred_cuisine, total_orders, average_rating) 
               VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
               """
for index, row in customers.iterrows():
    cursor.execute(insert_query, (row['customer_id'], row['name'], row['email'], row['phone_number'], row['location'],
                                  row['signup_date'], row['is_premium'], row['preferred_cuisine'], row['total_orders'], row['average_rating']))

connection.commit()
cursor.close()
connection.close()

 **Inserting .csv files to Restaurants Table**

In [8]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

restaurants = pd.read_csv('Restaurants.csv')
insert_query = """
               INSERT INTO Restaurants (restaurant_id, name, cuisine_type, location, owner_name, average_delivery_time, contact_number, rating, total_orders, is_active) 
               VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
               """
for index, row in restaurants.iterrows():
    cursor.execute(insert_query, (row['restaurant_id'], row['name'], row['cuisine_type'], row['location'], row['owner_name'],
                                  row['average_delivery_time'], row['contact_number'], row['rating'], row['total_orders'], row['is_active']))

connection.commit()
cursor.close()
connection.close()

**Inserting .csv files to Orders Table**

In [9]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

orders = pd.read_csv('Orders.csv')
insert_query = """
               INSERT INTO Orders (order_id, customer_id, restaurant_id, order_date, delivery_time, status, total_amount, payment_mode, discount_applied, feedback_rating)
               VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
               """
for index, row in orders.iterrows():
    cursor.execute(insert_query, (row['order_id'], row['customer_id'], row['restaurant_id'], row['order_date'], row['delivery_time'], 
                                  row['status'], row['total_amount'], row['payment_mode'], row['discount_applied'], row['feedback_rating']))

connection.commit()
cursor.close()
connection.close()

**Inserting .csv files to Deliveries Table**

In [10]:
connection = db.connect(
        user = 'root',
        password = '123456789',
        host = '127.0.0.1',
        database = 'food_delivery')

cursor = connection.cursor()

deliveries = pd.read_csv('Deliveries.csv')
insert_query = """
               INSERT INTO Deliveries (delivery_id, order_id, delivery_status, distance, delivery_time, estimated_time, delivery_fee, vehicle_type) 
               VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
               """
for index, row in deliveries.iterrows():
    cursor.execute(insert_query, (row['delivery_id'], row['order_id'], row['delivery_status'], row['distance'], row['delivery_time'], 
                                  row['estimated_time'], row['delivery_fee'], row['vehicle_type']))

connection.commit()
cursor.close()
connection.close()